* { display: block; padding: 12px; }
.red { background: #FF0000; }
.blue { background: #0000FF; }
.purple { background: #FF00FF; }
.yellow { background: #FFFF00; }
#caixa_fundo { background: #00FF00; margin: 40px; }