<p class="red">
    My Own Browser with boxes and text!
</p>
<br></br>
<div>
  A List of Stuff!
  <ul>
    <li>Apples</li>
    <li>Oranges</li>
    <li>Pears</li>
  </ul>
</div>
<div>
  <p>Tudo às Cores!</p>
  <div id="caixa_fundo">
    <div class="blue">
      <div class="purple">
        <div class="yellow">
        </div>
      </div>
    </div>
  </div>
</div>
